VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyeHZrcHRieHdhY3RqeXBzdHR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQzOTk1MTcsImV4cCI6MjA0OTk3NTUxN30.EsEAwXo9QU__lySjbkWzAJYdunESiB2Gy4P86P10kYM
VITE_SUPABASE_URL=https://trxvkptbxwactjypsttz.supabase.co